[submodule "3rd-party/grpc"]
	path = 3rd-party/grpc
	url = https://github.com/grpc/grpc
	ignore = dirty
[submodule "3rd-party/googletest"]
	path = 3rd-party/googletest
	url = https://github.com/google/googletest.git
	ignore = dirty
[submodule "3rd-party/yaml-cpp"]
	path = 3rd-party/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
	ignore = dirty
[submodule "3rd-party/hyperkit"]
	path = 3rd-party/hyperkit
	url = https://github.com/docker/hyperkit
[submodule "3rd-party/libssh/libssh"]
	path = 3rd-party/libssh/libssh
	url = git://git.libssh.org/projects/libssh.git
[submodule "electron-app/maverix"]
	path = electron-app/app/maverix
	url = https://github.com/gobijan/maverix.git
