/.cache
/.cmake
/.config
/.local

/.electron
/.electron-gyp
/.npm
yarn.lock

/build

/parts
/prime
/snap/.snapcraft
/stage

/electron-app/app/node_modules
/electron-app/dist
/electron-app/node_modules
.idea
cmake-build-debug
