Source: multipass
Build-Depends: autoconf,
               autogen,
               build-essential,
               cmake,
               cmake-extras,
               gconf2,
               golang,
               google-mock,
               graphicsmagick,
               icnsutils,
               libappindicator1,
               libasound2,
               libgtk2.0-0,
               libnss3,
               libprocess-cpp-dev,
               libprotobuf-dev,
               libprotoc-dev,
               libtool,
               libx11-xcb1,
               libxtst6,
               nodejs-legacy,
               npm,
               protobuf-compiler,
               shtool,
               snapcraft,
               zlib1g-dev,
