Source: multipass
Build-Depends: autoconf,
               autogen,
               build-essential,
               cmake,
               cmake-extras,
               golang,
               google-mock,
               libprocess-cpp-dev,
               libprotobuf-dev,
               libprotoc-dev,
               libtool,
               protobuf-compiler,
               shtool,
               zlib1g-dev,
